{% extends 'base.html.twig' %}

{% block title %}User List{% endblock %}

{% block body %}
    <h2>User list</h2>

    <ul>
        {% for user in users %}
            <li>{{ user.prenom }}</li>
        {% endfor %}
    </ul>
{% endblock %}
