<nav>
    <img src="{{ asset('img/logo.png') }}" alt="Logo" width="20" />
    <a href="{{ path('app_recette_index') }}">Recettes</a>
    <a href="{{ path('app_hello_bonjour', {prenom: 'Romain'}) }}">Bonjour Romain</a>
</nav>